
	  
	  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/1200x320" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x320" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x320" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x320" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

    <div class="container marketing">
<!--
  
      <div class="row">
        <div class="col-lg-4">
          
          <center><h2>Events</h2>
		 <img class="img-circle" img src="http://placehold.it/140x140" alt="" alt="Generic placeholder image">
          <p>Blah blah.. heading stuff goes into this space...........................................................</p>
          <p><a class="btn btn-default" href="/events/show" role="button">Events Page &raquo;</a></p></center>
        </div><!-- /.col-lg-4
        <div class="col-lg-4">
          
          <center><h2>Class Info</h2>
		 <img class="img-circle" img src="http://placehold.it/140x140" alt="Generic placeholder image">
			<p>Heading 2 info.</p>
          <p><a class="btn btn-default" href="/class_info/show" role="button">Class Info Page &raquo;</a></p></center>
        </div><!-- /.col-lg-4 
        <div class="col-lg-4">
          
          <center><h2>Campus Map</h2>
		 <img class="img-circle" img src="http://placehold.it/140x140" alt="Generic placeholder image">
          <p>Heading 3 info.</p>
          <p><a class="btn btn-default" href="/campus_map/show" role="button">Campus Map &raquo;</a></p></center>
        </div><!-- /.col-lg-4 
      </div><!-- /.row 

	  -->
   <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Events. <span class="text-muted">Things to do.</span></h2>
          <p class="lead">Here's cool things to do around campus..</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/300x300" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/300x300" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Class Info. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Information from teachers to material.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Campus Map. <span class="text-muted">Find yourself.</span></h2>
          <p class="lead">Plan out your routes and find your favorite buildings.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/300x300" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">



